@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary-txt: #040118;
  --color-soft-black: #080E28; /* background-color del fondo principal */
  --color-dark-black: #040116; /* background-color del header */
  --color-primary: #e6cc3d;
  --color-primary-bold: #e8bb1a;
  --color-accent: #1B275E;
  --color-neutral-light: #F5F5F5;
  --color-border-base: #283343;

  --font-manrope: "manrope", sans-serif;
  --font-public-sans: "public sans", sans-serif;
  --font-open-sans: "open sans", sans-serif;
  --font-poppins: "poppins", sans-serif;
  --font-outfit: "outfit", sans-serif;
  --font-quicksand: "quicksand", sans-serif;
  --font-montserrat: "montserrat", sans-serif;
  --container-8xl: 1440px;

  /* ADMIN */
  --color-card-bg: #0f142e;
  
  /* ANIMATIONS */
  @keyframes scaleIn {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(1rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeInUpHigh {
    0% {
      opacity: 0;
      transform: translateY(3rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes show {
    0% {
      opacity: 0;
      transform: scale(0.50);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

@layer {
  /* ANIMATIONS */
  .animate-scale-in {
    animation: scaleIn 0.6s;
  }
  
  .animate-fade-up {
    animation: fadeInUp 0.6s;
  }

  .animate-show {
    animation: show 0.6s;
  }

  .animate-fadeInUpHigh {
    animation: fadeInUpHigh 0.6s;
  }
  
  .animate-delay-200 {
    opacity: 0;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
  }
  
  .animate-delay-400 {
    opacity: 0;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
  }

  /* GLOBAL */
  .section-base {
    @apply grid place-items-center py-32;
  }

  .button-base {
    @apply font-semibold border py-2 px-10 cursor-pointer transition-colors;
  }

  .toggle-password {
    @apply absolute right-0 top-1/2 -translate-y-1/2 w-12 h-full border border-border-base flex items-center justify-center bg-primary hover:bg-primary-bold transition-colors cursor-pointer;
  }
  .show-pass, .hide-pass {
    @apply w-7;
  }

  /* HEADER */
  .header {
    @apply z-200 min-h-14 grid place-items-center bg-dark-black w-full text-sm border-b border-border-base;
  }
  .header__navigation {
    @apply flex justify-between items-center m-auto px-8 max-w-7xl w-full;
  }

  .current-page {
    @apply bg-primary text-dark-black;
  }

  .login-btn {
    @apply text-primary border border-neutral-light/15 font-bold py-2 px-6 cursor-pointer hover:border-primary transition-colors;
  }

  .signup-btn {
    @apply bg-primary text-black font-bold py-2 px-6 hover:bg-primary-bold cursor-pointer;
  }

  .redir-link {
    @apply p-0.75 px-3 rounded-2xl hover:bg-primary hover:text-dark-black transition-colors ;
  }

  .language-selector {
    @apply flex items-center gap-2;
  }
  .lang-option {
    @apply font-semibold text-base text-gray-500 cursor-pointer px-1.5 hover:text-primary transition-colors;
  }
  .lang-option.active {
    @apply text-primary bg-primary/25 hover:bg-primary/50;
  }
  .lang-separator {
    @apply text-base text-gray-700;
  }
  
  .auth-buttons {
    @apply  gap-4;
  }

  .user-btn {
    @apply bg-primary-bold rounded-full cursor-pointer overflow-hidden w-10 h-10 aspect-square grid place-content-center;
  }
  .user-menu {
    @apply absolute mt-1.5 w-max border border-gray-600 bg-accent flex-col gap-2 right-0  px-4 py-2.5;
  }
  .logout-btn {
    @apply w-fit cursor-pointer text-gray-300  hover:text-dark-black transition-colors;
  }

  /* FOOTER */
  .footer {
    @apply bg-dark-black w-full text-white p-8 grid place-content-center border-t border-border-base;
  }
  .footer-container {
    @apply max-w-7xl w-full grid gap-8 px-8;
  }

  .footer-grid {
    @apply grid grid-cols-4 gap-8 text-sm text-gray-300;
  }
  .footer-grid .title {
    @apply text-xl font-bold mb-3;
  }
  .footer-grid .links {
    @apply grid gap-2;
  }
  .footer-grid .link {
    @apply hover:text-primary transition-colors;
  }
  .footer-grid .link-contact {
    @apply flex items-center gap-2;
  }

  .footer-copyright {
    @apply text-xs flex items-center justify-between mt-4;
  }
  .footer-social-media {
    @apply flex items-center gap-8 tracking-widest;
  }

  /* MODALS */
  .modal-wrapper {
    @apply w-full bg-soft-black m-auto border-none shadow-[0_0_20px] backdrop-blur-2xl backdrop:bg-black/60;
  }

  .field-modal {
    @apply w-full text-white outline-none text-sm px-4 py-3 bg-transparent border border-border-base;
  }
  .field-modal-error {
    @apply w-full text-white outline-none text-sm px-4 py-3 bg-transparent border border-red-400;
  }

  .signup-form {
    @apply text-center px-8 py-12 grid place-items-center gap-8;
  }
  .signup-modal-body {
    @apply w-full grid grid-cols-2 gap-4;
  }
  .login-form {
    @apply text-center px-8 py-12 grid place-items-center gap-4;
  }
  .auth-modal-title {
    @apply text-4xl text-primary font-semibold;
  }
  .profile-picture-group {
    @apply grid place-items-center gap-2 mb-4 text-gray-500;
  }
  .profile-picture-label {
    @apply relative bg-center bg-cover border border-border-base w-[100px] aspect-square rounded-full grid place-content-center cursor-pointer;
  }
  .profile-picture-label .camera-icon {
    @apply absolute w-7 bg-soft-black aspect-square p-1 rounded-full border border-border-base right-0 bottom-0;
  }

  .modal-buttons-group {
    @apply grid gap-2 mt-2 w-full;
  }
  .quickly-change-modal {
    @apply text-sm text-gray-500;
  }

  .close-modal-btn {
    @apply absolute right-5 top-5 bg-soft-black border border-border-base w-fit p-1 rounded-full hover:bg-border-base transition-colors;
  }

  .continue-btn {
    @apply font-bold border py-2.5 px-10 rounded-md bg-primary text-dark-black border-none cursor-pointer hover:bg-primary-bold transition-colors;
  }

  .back-to {
    @apply text-primary cursor-pointer hover:text-primary-bold transition-colors;
  }

  .auth-message {
    @apply w-full text-left p-2 text-sm font-medium;
  }
  .auth-message.register-error, .auth-message.login-error {
    @apply text-red-400 border border-red-600 bg-red-600/25;
  }
  .auth-message.register-successfully, .auth-message.login-successfully {
    @apply text-green-400 border border-green-600 bg-green-600/25;
  }

  /* PAGE: HOME - SECTION: user-journey */
  .step-card {
    @apply flex gap-8 items-center;
  }
  .step-box {
    @apply relative bg-primary min-w-40 aspect-square grid place-content-center text-6xl font-bold text-dark-black border border-soft-black;
  }
  .step-box-icon {
    @apply w-10 absolute -right-4 -top-4 bg-primary p-2 rounded-full;
  }

  .step-info {
    @apply grid gap-4 px-4 text-gray-400;
  }
  .step-info-title {
    @apply text-3xl font-semibold text-neutral-light;
  }

  /* PAGE: HOME - SECTION: main-navegation */
  .cards {
    @apply grid grid-cols-2 grid-rows-2 gap-8;
  }

  .card {
    @apply grid place-content-center bg-soft-black border border-border-base p-10 hover:bg-dark-black hover:-translate-y-1.5 hover:shadow-2xl hover:shadow-accent transition-all;
  }

  .card-about {
    @apply col-span-2 flex items-center gap-8;
  }
  .card-about, 
  .card-services, 
  .card-help, 
  .main-naveg-title, 
  .contact-container,
  .services-container,
  .community-container,
  .reviews-container,
  .games-container,
  .platforms-container,
  .pricing-services-container,
  .about-us-container,
  .skills-container,
  .postulation-container,
  .user-journey-container {
    view-timeline-name: --card;
    view-timeline-axis: block;

    animation-timeline: --card;
    animation-name: fadeInUpHigh;

    animation-range: entry 50% cover 60%;
    animation-fill-mode: both;
  }
  .card-about-img {
    @apply bg-white/60 rounded-2xl h-full basis-full overflow-hidden;
  }
  .card-container {
    @apply grid gap-4;
  }

  .card-title {
    @apply text-3xl font-semibold;
  }
  .card-link {
    @apply text-primary-bold font-semibold underline mt-4 w-fit hover:text-accent transition-colors;
  }

  /* PAGE: HOME - SECTION: contact */
  .field-contact {
    @apply border border-black/20 px-3 py-2;
  }

  .submit-contact {
    @apply bg-primary text-dark-black font-bold border border-primary mt-4 w-fit px-6 py-2 rounded-full cursor-pointer hover:bg-primary-bold transition-colors;
  }

  /* PAGE: CATALOG */
  .catalog-hero {
    @apply w-full h-svh max-h-[1255px] flex justify-between overflow-hidden;
  }
  .catalog-hero-img {
    @apply bg-accent w-full bg-[url(/src/assets/incognita-portada-hor.jpeg)] bg-no-repeat bg-center bg-cover;
  }
  .catalog-hero-info {
    @apply basis-1/2 bg-dark-black h-full text-neutral-light grid place-items-center px-12;
  }
  .tag {
    @apply bg-accent py-0.5 px-4 rounded-2xl;
  }

  .game-box {
    @apply bg-accent p-6 rounded-xl w-2xs;
  }

  .games-wrapper {
    @apply grid grid-cols-3 gap-16;
  }
  .game-card {
    @apply flex flex-col min-h-[485px] bg-accent border border-border-base hover:scale-101 hover:border-neutral-light  transition-all;
  }
  .game-card .game-img {
    @apply bg-black basis-[75%] bg-cover bg-center bg-no-repeat;
  }
  .game-card .game-info {
    @apply bg-dark-black p-8 basis-[25%];
  }
  .game-info-title {
    @apply text-2xl font-medium mb-4;
  }
  .game-price-container {
    @apply text-2xl text-primary font-medium;
  }

  .games-container, .game-container {
    @apply w-7xl p-8 grid gap-16;
  }
  .game-presentation {
    @apply bg-dark-black p-16 border border-border-base flex gap-8;
  }
  .game-presentation-info {
    @apply flex flex-col justify-between basis-2/5;
  }
  .game-presentation-info .game-price {
    @apply text-3xl font-semibold mb-4;
  }
  .game-presentation-info .add-to-cart-btn {
    @apply font-bold py-3 px-12 cursor-pointer bg-primary text-lg text-black hover:bg-primary-bold;
  }
  .game-presentation-info .entry-description {
    @apply text-gray-400 text-[15px];
  }

  .game-details {
    @apply bg-dark-black text-gray-400 p-16 border border-border-base flex gap-16;
  }
  .game-details .description-title, .details-title {
    @apply text-3xl font-semibold mb-6 text-primary;
  }
  .game-details .detail-item {
    @apply flex justify-between;
  }
  .detail-item-list {
    @apply text-white font-medium flex gap-2 items-center;
  }
  .game-reviews {
    @apply bg-dark-black p-16 border border-border-base;
  }
  .platformItem, .languageItem {
    @apply bg-soft-black text-sm py-1 px-2 rounded-2xl border border-border-base;
  }

  .reviews-container {
    @apply max-w-7xl gap-8 flex px-8;
  }
  .review-card {
    @apply w-full bg-soft-black border border-border-base;
  }

  .social-network-card {
    @apply max-w-[100px] border border-border-base aspect-square;
  }

  .social-network-icon {
    @apply bg-dark-black w-full h-full object-cover p-4;
  }

  .community-container {
    @apply relative max-w-7xl w-full px-8;
  }

  .toast-container {
    @apply fixed right-5 bottom-5 z-100 min-w-sm border shadow-xl font-medium p-4 rounded-sm opacity-0 translate-y-5 transition-all duration-300;
  }
  .toast-container.show {
    @apply opacity-100 translate-y-0;
  }
  .toast-container .toast-header {
    @apply flex items-center gap-2;
  }
  .toast-container.success {
    @apply bg-green-200 text-green-900;
  }
  .toast-container.error {
    @apply bg-red-200 text-red-900;
  } 

  /* PAGE: SERVICES */
  .services-container {
    @apply max-w-7xl w-full px-8 flex gap-16;
  }
  .services-grid {
    @apply grid grid-cols-2 gap-2 basis-full;
  }
  .service-card {
    @apply bg-soft-black aspect-square max-w-[300px] grid place-content-center border border-transparent text-center gap-4 p-8 hover:border-primary transition-colors;
  }
  .service-card-intro {
    @apply grid place-items-center gap-2 text-2xl font-semibold;
  }
  .service-card-icon {
    @apply w-16;
  }

  .platforms-worked {
    @apply grid place-content-center py-16 bg-dark-black text-center border-y border-border-base;
  }
  .platform-item {
    @apply grid place-items-center gap-2 cursor-pointer hover:scale-105 transition-all;
  }
  .platform-item img {
    @apply w-10;
  }

  .pricing-services-container {
    @apply max-w-7xl w-full text-center px-8;
  }
  .pricing-grid {
    @apply grid grid-cols-3 gap-8 place-items-center;
  }
  .price-card {
    @apply h-full bg-dark-black p-8 border border-border-base grid gap-8 shadow-xl hover:border-primary-bold hover:scale-102 transition-all;
  }
  .price-card.recommended {
    @apply relative h-[110%] border-x-border-base border-b-border-base border-primary hover:border-primary-bold;
  }
  .price-card .title {
    @apply text-2xl text-primary font-semibold mb-2;
  }
  .price-card .price {
    @apply text-5xl font-bold flex justify-center items-end gap-1;
  }
  .price .price-local-currency {
    @apply text-lg text-primary/50;
  }
  .price-card .features {
    @apply grid gap-4 text-sm text-gray-300;
  }
  .price-card .features .feature {
    @apply flex m-auto gap-2;
  }
  .price-feature-icon {
    @apply w-4;
  }

  .price-card .tag {
    @apply bg-primary text-dark-black font-bold px-8 tracking-wide absolute -top-4 left-1/2 -translate-x-1/2;
  }

  /* PAGE: ABOUT-US */
  .about-us-hero {
    @apply text-5xl md:text-6xl font-extrabold mb-6;
  }
  .about-us-container {
    @apply max-w-7xl grid grid-cols-2 gap-12 items-center px-8;
  }
  .card-us {
    @apply bg-black/60 shadow-[0_0_10px_rgba(99,102,241,0.3)] shadow-blue-700 hover:shadow-[0_0_20px_rgba(99,102,241,0.3)] hover:-translate-y-1.5 transition-all;
  }

  .card-values {
    @apply bg-black shadow-[0_0_10px_rgba(99,102,241,0.3)] shadow-blue-300 hover:shadow-[0_0_20px_rgba(99,102,241,0.3)] hover:-translate-y-1.5 transition-all;
  }

  .white-title {
    color: #ffffff;
    text-shadow:
      0 0 10px rgba(255, 255, 255, 0.8),
      0 0 20px rgba(255, 255, 255, 0.6),
      0 0 30px rgba(255, 255, 255, 0.4);
  }

  .yellow-title {
    color: #facc15;
    text-shadow:
      0 0 10px rgba(250, 204, 21, 0.9),
      0 0 20px rgba(250, 204, 21, 0.6),
      0 0 30px rgba(250, 204, 21, 0.4);
  }

  .card-skills {
    @apply bg-black/60 border border-gray-800 rounded-xl p-6 text-center shadow-[0_0_10px] shadow-cyan-100/40 hover:shadow-[0_0_20px_rgba(99,102,241,0.4)] hover:-translate-y-1.5 transition-all;
  }

  .card-team {
    @apply bg-[#0F0F2A] p-6 rounded-2xl shadow-lg hover:-translate-y-1 transition-transform duration-300;
  }

  .percentage {
    @apply bg-[#5D5DF5] h-2 rounded-full;
  }

  .btn-gradient {
    @apply w-xl py-2 rounded-lg font-semibold text-black transition-all cursor-pointer;
    background: linear-gradient(90deg, #facc15 0%, #f97316 100%);
    box-shadow: 0 0 10px rgba(250, 204, 21, 0.4);
  }

  .btn-gradient:hover {
    background: linear-gradient(90deg, #fde047 0%, #fb923c 100%);
    box-shadow: 0 0 20px rgba(250, 204, 21, 0.6);
    transform: translateY(-2px);
  }

  .modal-apply {
    @apply fixed inset-0 bg-black/60 items-center justify-center z-50 backdrop-blur-sm m-auto;
  }

  .modal-apply::backdrop {
    background: rgba(0,0,0,0.6);
  }

  .steps {
    @apply bg-yellow-400 text-black font-bold px-4 py-2 rounded-md flex items-center gap-4;
  }

  /* PAGE: HELP */
  .faq-answer {
    @apply max-h-0 overflow-hidden px-6 bg-white text-gray-900 text-base transition-all duration-500 ease-in-out;
  }

  .faq-question {
    @apply flex justify-between items-center w-full px-6 py-4 text-left text-xl font-medium hover:bg-[#1B275E] transition-colors;
  }

  .faq-item {
    @apply bg-soft-black rounded-lg overflow-hidden transition-all;
  }

  .square {
    @apply w-4 h-4 bg-gray-400 rounded-sm transition-transform duration-300;
  }

  /* PAGE: CART */
  .product-card {
    @apply w-full flex gap-4 bg-dark-black;
  }
  .product-card-info {
    @apply relative w-full p-4 font-semibold text-lg;
  }

  .message-empty-card {
    @apply text-5xl font-semibold text-center;
  }

  .link-empty-cart {
    @apply  text-primary/85 w-fit m-auto underline cursor-pointer hover:text-primary-bold transition-all;
  }

  .product-img-container {
    @apply bg-black basis-50;
  }
  .product-img {
    @apply h-full object-cover;
  }

  .title-game {
    @apply text-xl font-bold mb-4; 
  }

  .tag-cart, .game-tag {
    @apply bg-accent py-0.5 px-2.5 rounded-2xl text-sm text-neutral-light;
  }

  .tags {
    @apply flex font-medium items-center gap-2 mb-6;
  }

  .remove-product {
    @apply bg-red-500 absolute right-2 bottom-2 p-2 rounded-full cursor-pointer hover:bg-red-600 transition-colors;
  }

  /* PAGE: ADMIN */
  .nav-item {
    @apply flex items-center px-4 py-4 rounded-lg text-[#a0aec0] transition-colors no-underline mb-1 cursor-pointer hover:bg-[#E6CC3D1A] hover:text-[#e6cc3d];
  }
  .nav-item.active {
    @apply bg-[#E6CC3D1A] text-[#e6cc3d];
  }
  .row {
    @apply py-3 px-4;
  }
  .actions {
    @apply rounded-full w-8 h-8 flex items-center justify-center cursor-pointer transition-colors;
  }
  .modal-field {
    @apply w-full bg-[#1a2235] border border-[#2a344b] rounded-lg p-2.5 text-neutral-100 focus:ring-2 focus:ring-yellow-400 focus:outline-none;
  }
  dialog {
    margin: auto;
    border: none;
    padding: 0;
  }
}