@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";

@theme { /* Cambiando el soft/dark-black */
  --color-primary-txt: #040118;
  --color-soft-black: #0E1636; /* background-color del fondo principal */
  --color-dark-black: #040116; /* background-color del header */
  --color-primary: #e6cc3d;
  --color-primary-bold: #e8bb1a;
  --color-accent: #1B275E;
  --color-neutral-light: #F5F5F5;

  --font-manrope: "manrope", sans-serif;
  --font-public-sans: "public sans", sans-serif;
  --font-open-sans: "open sans", sans-serif;
  --font-poppins: "poppins", sans-serif;
  --font-outfit: "outfit", sans-serif;
  --font-quicksand: "quicksand", sans-serif;
  --font-montserrat: "montserrat", sans-serif;
  --container-8xl: 1440px;
}

@layer {
  /* GLOBAL (? */
  .section-base {
    @apply grid place-items-center py-32;
  }

  .button-base {
    @apply font-semibold border py-2 px-10 cursor-pointer transition-colors;
  }

  /* HEADER */
  .header {
    @apply z-200 min-h-14 grid place-items-center bg-dark-black w-full text-sm border-b border-[#252525];
  }
  .header__navigation {
    @apply flex justify-between items-center m-auto px-8 max-w-7xl w-full;
  }

  .current-page-dark {
    @apply bg-primary text-dark-black;
  }

  .login-btn-dark {
    @apply text-primary border border-neutral-light/15 font-bold py-2 px-6 cursor-pointer hover:border-primary transition-colors;
  }

  .signup-btn-dark {
    @apply bg-primary text-black font-bold py-2 px-6 hover:bg-primary-bold cursor-pointer;
  }

  .redir-link-dark {
    @apply p-0.75 px-3 rounded-2xl hover:bg-primary hover:text-dark-black transition-colors ;
  }
  
  .language-switcher__btn {
    @apply flex items-center gap-1 py-1 px-2 border border-white/10 hover:bg-soft-black cursor-pointer;
  }

  .language-switcher__list {
    @apply absolute p-2 bg-soft-black -bottom-20 right-0 min-w-[125px] border border-white/10;
  }

  .language-switcher__option {
    @apply font-medium w-full px-2 py-1 text-left hover:bg-[#212121] cursor-pointer;
  }
  
  /* SECTION: user-journey */

  .step-card {
    @apply flex gap-8 items-center;
  }
  .step-box {
    @apply relative bg-primary min-w-40 aspect-square grid place-content-center text-6xl font-bold text-dark-black border border-soft-black;
  }
  .step-box-icon {
    @apply w-10 absolute -right-4 -top-4 bg-primary p-2 rounded-full;
  }

  .step-info {
    @apply grid gap-4 px-4 text-gray-400;
  }
  .step-info-title {
    @apply text-3xl font-semibold text-neutral-light;
  }

  /* SECTION: main-navegation */
  .cards {
    @apply grid grid-cols-2 grid-rows-2 gap-8;
  }

  .card {
    @apply grid place-content-center bg-soft-black border border-[#505050] p-10 hover:bg-dark-black hover:-translate-y-1.5 hover:shadow-2xl hover:shadow-accent transition-all;
  }

  .card-about {
    @apply col-span-2 flex items-center gap-8;
  }
  .card-about-img {
    @apply bg-white/60 rounded-2xl h-full basis-full overflow-hidden;
  }
  .card-container {
    @apply grid gap-4;
  }


  .card-title {
    @apply text-3xl font-semibold;
  }
  .card-link {
    @apply text-primary-bold font-semibold underline mt-4 w-fit hover:text-accent transition-colors;
  }

  /* PAGE: catalog */
  .tag {
    @apply bg-accent py-0.5 px-4 rounded-2xl;
  }

  .game-box {
    @apply bg-accent p-6 rounded-xl w-2xs;
  }

  .game-card {
    @apply flex flex-col min-h-[485px] bg-accent border border-[#252525] hover:scale-101 hover:border-[#505050]  transition-all;
  }

  .review-card {
    @apply bg-soft-black border border-[#505050];
  }

  .social-network-card {
    @apply max-w-[100px] border border-[#505050] aspect-square;
  }

  .social-network-icon {
    @apply bg-dark-black w-full h-full object-cover p-4;
  }

  /* SECTION: contact */
  .field-contact {
    @apply border border-black/20 px-3 py-2;
  }

  .submit-contact {
    @apply bg-primary text-dark-black font-bold border border-primary mt-4 w-fit px-6 py-1.5 rounded-full cursor-pointer hover:bg-primary-bold;
  }

  /* MODALS */
  .modal-wrapper {
    @apply max-w-[400px] w-full bg-white m-auto border border-gray-300 rounded-2xl;
  }

  .field-modal {
    @apply text-primary-txt outline-none text-sm px-4 py-3 w-full rounded-sm bg-neutral-light border border-black/5;
  }

  .close-modal-btn {
    @apply absolute right-5 top-5 bg-neutral-light border border-gray-200 w-fit p-1 rounded-full hover:bg-gray-200 transition-colors;
  }

  .continue-btn {
    @apply font-bold border py-2 px-10 rounded-md mt-4 bg-primary border-primary-bold text-white hover:bg-primary-bold cursor-pointer transition-colors;
  }

  .back-to {
    @apply text-sm text-gray-500 cursor-pointer hover:text-primary-txt transition-colors;
  }

  /* Cart */
  .tag-cart {
    @apply bg-accent py-0.5 px-2.5 rounded-2xl text-sm text-neutral-light;
  }

  .tags {
    @apply flex items-center gap-2 mb-8;
  }

  .remove-product {
    @apply bg-red-500 absolute right-2 bottom-2 p-2 rounded-full cursor-pointer hover:bg-red-600 transition-colors;
  }
}